body{
   background-color:  rgb(230, 218, 221);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
text-align: center;  
background-image: linear-gradient(to right, rgba(255, 0, 0, 0.247), rgb(245, 85, 85));
width: 700px;
padding: 1px;
}
.menu  a{
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
    transition: 0.4s;
}
.menu li{
    list-style: none;
}
.menu ul{
    display:flex;
    padding-left: 0px;
    justify-content: center;
}
.menu a:hover{
    color: black;

}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 1s;
    border: 2px solid rgb(0, 0, 0);
}
.logo img:hover{
    transform: rotate(360deg);
}
.logo .chu{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 30px;
    animation-name:chu;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: 100;
}
.nut{display: none;}
@media screen and (min-width:1160px){
        .menu{
            float: right;
        }
        .logo img{
            float: left;
        }
        .logo .chu{
            float: left;
        }
        @keyframes chu{
            0%{color:black;left: 0px;top:0px;}
            50%{color:rgb(250, 0, 0);left:23%;top:0px}
            100%{color:black;left:0px;top:0px}
        }
}

@media screen and (max-width:726px) and (min-width:480px){
    .logo{
        display: none;
    }
    .menu ul{
        display: inline;
    }
    .menu li{
        border-bottom:1px solid gray ;
    }
    .menu{
        width: 100%;
    }
    .menu a{
        font-size: 20px;
    }
    .menu a:hover{
        color:black;
    }
}
@media screen  and (max-width:1161px)and (min-width:727px){
    body{
        position: relative;
    }
    .logo{
        position: absolute;
        top:-145px;
        left: 46%;
    }
    .logo .chu{
        margin-left: -46px;
    }
        .menu{
        margin:auto;
        margin-top: 150px ;
    }
}
@media screen and (max-width:479px){
    .nut{
        display: block;
    }
    .logo{
        display: none;
    }
    .logo{
        display: none;
    }
    .menu ul{
        display: inline;
    }
    .menu li{
        border-bottom:1px solid gray ;
    }
    .menu{
        width: 100%;
    }
    .menu a{
        font-size: 20px;
    }
    .menu{display: none;}
}